__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/

.env
.env.*

staticfiles/
static_root/

db.sqlite3

*.log
.DS_Store
Thumbs.db

.vscode/
htmlcov/
.coverage
coverage.xml
*.cover
.cache
pytest_cache/
.noseids
.mypy_cache/
pylint-report.txt

build/
dist/
*.egg-info/
node_modules/
.idea/
media/
.ipynb_checkpoints/
